<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
{% endfor %}
</body>
</html> -->
<!DOCTYPE html>
<html>

<head>
<style>

.imgContainer{
    float:left;
}

#players {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#players td, #players th {
  border: 1px solid #ddd;
  padding: 8px;
}

#players tr:nth-child(even){background-color: #f2f2f2;}

#players tr:hover {background-color: #ddd;}

#players th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>

<body>
<h1>Salary Ceiling : {{market}}</h1>

<div class="image123">
    <div class="imgContainer">
        <img src="/static/totepp.png" height="400" width="550"/>

    </div>
    <div class="imgContainer">
        <img src="/static/toteppworst.png" height="400" width="550"/>

    </div>
    <div class="imgContainer">
        <img src="/static/top5.png"/ height="400" width="550"/>

    </div>
    <div class="imgContainer">
         <img src="/static/avgsal.png"/ height="400" width="750"/>

    </div>
    <div class="imgContainer">
         <img src="/static/position.png"/ height="400" width="750"/>

    </div>
</div>



<div class="form-sort" style="
    margin-left: 70px;
    color: black;
    display: inline-block;">

<form method="post">
  <label>
    <div>Sort By</div>
    <select name="activity">
      {% for activity in activities %}
          <option value="{{ activity }}">{{ activity }}</option>
      {% endfor %}
    </select>
    <select name="type">
      {% for type in type %}
          <option value="{{ type }}">{{ type }}</option>
      {% endfor %}
    </select>
  </label>
  <input type="submit">
</form>
</div>

<table id="players">
    <tr>
        {% for col in column_names %}
        <th>{{col}}</th>
        {% endfor %}
    </tr>
    {% for row in row_data %}
    <tr>
        {% for col, row_ in zip(column_names, row) %}
          <td>{{row_}}</td>
        {% endfor %}
    </tr>
    {% endfor %}

</table>


</body>
</html>
